# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Momentum Knight.iml
# Datasource local storage ignored files
/../../../../../../../../:\Repos\Git\cmpt306-momentum-knight\Momentum Knight\.idea\.idea.Momentum Knight\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
